<footer class="page-footer">

  <div class="wrap">

    <p class="copyright">Content © {{ site.time | date: "%Y" }} Mohit Sinha. Subscribe <a href="/feed.xml">via RSS</a>. Find me on <a href="http://twitter.com/mohi_si">Twitter</a>.</p>

    <!--<p>Hosted on <a href="http://pages.github.com">GitHub Pages</a>. Design and code are open source: <a href="https://github.com/jglovier/jglovier.github.io">fork me</a>, or <a href="https://github.com/jglovier/jglovier.github.io/issues?state=open">open an issue</a>.</p>-->

  </div>

</footer>