{% include site-nav.html %}

  <header class="page-header">

    <div class="wrap">

      <div class="intro-copy">
        <h1>Mohit Sinha</h1>
        <h2>Software Developer • Back-end dev</h2>
        <p class="description">Hi, I’m Mohit and this is my personal blog. I'm a Software Developer based in Mumbai, India.
          I like to share my learning and will do the same through this blog. I'll mostly write about Java & Spring.</p>
        <div class="social-media-links">
          <a href="http://github.com/mohitsinha" class="icon-link" target="_blank">{% include icons/icon-github.html %}</a>
          <a href="http://twitter.com/ahnistihom" class="icon-link" target="_blank">{% include icons/icon-twitter.html %}</a>
          <!--<a href="http://dribbble.com/jag" class="icon-link" target="_blank">{% include icons/icon-dribbble.html %}</a>-->
          <!--<a href="http://instagram.com/joelglovier" class="icon-link" target="_blank">{% include icons/icon-instagram.html %}</a>-->
          <!--<a href="http://soundcloud.com/joelglovier" class="icon-link" target="_blank">{% include icons/icon-soundcloud.html %}</a>-->
        </div>
      </div>

      <!--<div class="my-avatar home">-->
        <!--<img class="joel-photo" src="/img/me-face-bg-site.png.jpg" alt="Joel Andrew Glovier avatar" />-->
      <!--</div>-->

    </div>

  </header>
